<!DOCTYPE html>
<html lang="en">
<head>
<title>OrangeZest Recipes - Home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="style/app.css" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg bg-warning">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">OrangeZest Recipes</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
				aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarScroll">
				<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Login/Sign Up</a></li>
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> My Profile </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Saved Recipes</a></li>
							<li><a class="dropdown-item" href="#">Account Info</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Logout</a></li>
						</ul></li>
				</ul>
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="my-3"></div>
	<!-- <a th:href="@{/dish-menu-page(idCuisine=1,idDish=1)}">Go To Dishes</a> -->
	<h2 class="text-center">Recipes</h2>
	<hr class="new5" />

	<div class="container">

		<div class="row" th:each="listItem : ${listData}">
			<div class="col">

				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="card-body" style="padding: 0 !important">
								<img th:src="${listItem.imagePath}" class="card-img-top" alt="...">
							</div>
						</div>
					</div>
					

					<div class="col-sm-6">
						<div class="card">
							<div class="card-header">
								<h5>Overview</h5>
							</div>
							<div class="card-body">
								<ul>
									<li><strong>Category:</strong> <span th:text="${listItem.category}"></span>
									<li><strong>Time:</strong> <span th:text="${listItem.timeRequired}"></span>.
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="my-4"></div>

				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="card-header">
								<h5>Ingredients</h5>
							</div>
							<div class="card-body">
								<ul>
									 <li th:each="ingredient : ${listItem.ingredients}">[[${ingredient}]]</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="card">
							<div class="card-header">
								<h5>Steps</h5>
							</div>
							<div class="card-body">

								<ol>
									<li th:each="step : ${listItem.steps}">[[${step}]]></li>
									
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="my-3"></div>
			<hr class="new5" />
			<div class="my-3"></div>

		</div>
</body>
</html>