<html>
<head>

<style>
.w100 {
	width: 100%;
	font-family: cursive;
	font-size: 24px;
	background-color: rgb(255, 128, 64);
}

.wnormal {
	font-family: cursive;
	font-size: 24px;
	background-color: rgb(255, 128, 64);
}

td {
	border: solid black 1px;
}

tr {
	background-color: blue;
}
</style>
</head>
<body>
	<h1>Greetings from Spring Boot!</h1>

	<span style="color: red; font-size: 18; align-self: right">(from
		Hello View/Template)</span>

	<table class="wnormal">
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Address</th>
			<th>Action</th>
		</tr>
		<tr style="background-color: green">
			<td>1</td>
			<td>Vinayak Deshmukh</td>
			<td>New Albany, OH</td>
			<td>Delete Edit</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Ojas Deshmukh</td>
			<td>New Albany, OH</td>
			<td>Delete Edit</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Pooja Deshmukh</td>
			<td>New Albany, OH</td>
			<td>Delete Edit</td>
		</tr>
	</table>

	<hr />

	<table class="w100">
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Address</th>
			<th>Action</th>
		</tr>
		<tr style="background-color: green">
			<td>1</td>
			<td>Vinayak Deshmukh</td>
			<td>New Albany, OH</td>
			<td>Delete Edit</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Ojas Deshmukh</td>
			<td>New Albany, OH</td>
			<td>Delete Edit</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Pooja Deshmukh</td>
			<td>New Albany, OH</td>
			<td>Delete Edit</td>
		</tr>
	</table>


	<hr />

	<div class="w100">
		<a href="/hello-boostrap">Go to hello-bootstrap</a>
	</div>


	<hr class="w100" />
</body>
</html>